body{
	background-color: #f7f1e3;
}
@media all and (max-width: 700px){
	body{
		height: 50vh;
		margin: 0 auto;
	}
	img{
		margin-bottom: 20%;
	}
}
header{
	text-align: center;
	margin: 1%;
	padding: 1%;
}
h1{
	text-transform: uppercase;
	color: #4b4b4b;
	font-size: 300%;
}
h2{
	color: #4b4b4b;
	font-size: 150%;
}
nav{
	background-color: #ffaf40;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 1% 2% 1% 2%; 
	color: #4b4b4b;
	font-size: 125%;
}
nav a:hover{
	background-color: #ff9f1a;
	text-decoration: none;
	color: #4b4b4b;
	box-shadow: 1px 1px 1px 1px;
}
.main{
	margin: 2%;
}
#carouselExampleIndicators{
	text-align: center;
}
img{
	width: 70%;
	height: auto;
}
footer{
	text-align: center;
	height: 10vh;
	background-color: #ff3838;
}
